body {
	background-color: blue;
	color:white;
}

.tag {
	background-color: #444;
	border-radius: 5px;
}

.clickable {
	cursor:pointer;
	background-color: #444;
	border-radius: 5px;
	padding:5px;
	text-shadow:2px 2px #000000;

}

.clickable:hover {
	background-color:#666;
}