@import 'reset';

@import url(http://fonts.googleapis.com/css?family=Droid+Sans+Mono);

.clearfix:after {
	content: ".";
	display: block;
	clear: both;
	visibility: hidden;
	line-height: 0;
	height: 0;
}

.clearfix {
	display: inline-block;
}

.noselect {
	-webkit-user-select: none; /* Chrome/Safari */
	-moz-user-select: none; /* Firefox */
	-ms-user-select: none; /* IE10+ */
}

.clndr {
	    font-family: Asap, Helvetica, Arial;
	font-size: 18px;
	width:294px;
	border: 3px solid red;

	.controls {
		background-color: #69a776;
		color: white;
		width:100%;	
		
		display:block;
		.clearfix;
		
		
		
		-webkit-user-select: none;
		
		.clndr-previous-button {
			padding-top:5px;
			padding-bottom: 5px;

			float: left;

			width: 10%;
			text-align: center;
			cursor: pointer;
			.noselect;
			&:hover
			{
				background-color: #f4f4f4;
			}
			transition:background-color 0.2s;		
		}

		.month {
			padding-top:5px;
			padding-bottom: 5px;
			float:left;
			text-align: center;
			width:80%;			
			font-weight: 700;

			letter-spacing: 1px;
			text-transform: uppercase;
		}

		.clndr-next-button {
			padding-top:5px;
			padding-bottom: 5px;
			float: left;
			width: 10%;
			text-align: center;
			cursor: pointer;
			.noselect;
			&:hover
			{
				background-color: #f4f4f4;
			}

			transition:background-color 0.2s;
		}
	}


	.headers {

		display: inline-block;


		.clearfix;

		text-align: center;
		background-color: #97ce7f;
		padding-top: 5px;
		padding-bottom: 5px;
	}

	.day-header {
		background-color: red;
		width:42px;
		display: inline-block;
		text-align: center;
		vertical-align: middle;

	}

} // clrn


.vertical-centre (@height) {
    height:@height;
    line-height:@height !important;
    display:inline-block;
    vertical-align:middle;
}

.border-box {
    box-sizing:border-box;
    -moz-box-sizing:border-box;
}

@border-colour:#CCC;


.calendar {
    float:left;
    display:block;
    .border-box;
    background:white;
    width:400px;
    border:solid 1px @border-colour;
    margin-bottom:10px;
    
    @secondary-colour:#2875C7;
    @spacing:10px;
    @icon-width:40px;
    @header-height:40px;

    >div.header {
        float:left;
        width:100%;
        background:@secondary-colour;
        height:@header-height;
        color:white;
        
        >* { 
            .vertical-centre(@header-height);
        }
        
        >i {
            float:left;
            width:@icon-width;
            font-size:1.125em;
            font-weight:bold;
            position:relative;
            .border-box;
            padding:0 @spacing;
            cursor:pointer;
        }
        
        >i.fa-angle-left {
            text-align:left;

            transition:background 0.25s;

            &:hover {
            	background:darken(@secondary-colour,10%);
            }
        }
        
        >i.fa-angle-right {
            text-align:right;
            margin-left:@icon-width*-1;
			transition:background 0.25s;
            &:hover {
            	background:darken(@secondary-colour,10%);
            }
        }
        
        >span { 
            float:left;
            width:100%;
            font-weight:bold;
            text-transform:uppercase;
            .border-box;
            padding-left:@icon-width+@spacing;
            margin-left:@icon-width*-1;
            text-align:center;
            padding-right:@icon-width;
            color:inherit;
        }
    }
    >div.week {
        float:left;
        width:100%;
        border-top:solid 1px @border-colour;
        
        &:first-child {
            border-top:none;
        }
        
        >span.day {
            float:left;
            width:100%/7;
            .border-box;
            border-left:solid 1px @border-colour;
            font-size:0.75em;
            text-align:center;
            .vertical-centre(30px);
            background:white;
            cursor:pointer;
            color:black;
            
            &:first-child {
                border-left:none;
            }
            
            &.today {
                background:#E3F2FF;
            }
            
            &.different-month {
                color:#C0C0C0;
            }
            
            &.selected {
                background:@secondary-colour;
                color:white;
            }
        }
        
        &.names>span {
            color:@secondary-colour;
            font-weight:bold;
        }
    }
}